.make-forum-wrapper {
    margin: 3rem 0;
}

.uni-name {
    margin-top: 2rem;
    font-size: 5rem;
    text-align: center;
}

.home-title {
    margin-bottom: 2rem;
    font-size: 3rem;
}
.post-wall-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}