.make-forum-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 1rem;
}

.make-forum-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width:100%;
}

.make-forum-input input {
    height: 100%;
    width: 100%;
    font-family: 'Lato';
    font-size: 18pt;
    margin: 0 0.5rem;
}
